@tailwind base;
@tailwind components;
@tailwind utilities;
/* Customize the arrow color */
/* For WebKit browsers (Chrome, Safari, etc.) */

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937; /* Thumb color, Track color */
  scroll-behavior: smooth;
}
.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:90px;
	right:10px;
	background-color:#222;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}
.my-float{
	font-size:35px;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

@keyframes vertical-marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes vertical-marquee-reverse {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-vertical-marquee {
  animation: vertical-marquee linear infinite;
}

.animate-vertical-reverse {
  animation: vertical-marquee-reverse linear infinite;
}

@keyframes slideInOut {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-in-out {
  animation: slideInOut 4s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px; /* Adjust spacing */
}

img {
  contain: strict;
  will-change: transform;
}
